*.iws
*Db.properties
*Db.script
.settings
.gradle/
build/
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
build/
.gradle/
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
/conf
/config
data
*.iml
.idea
/data
/plugins/
setEnvironment
/logs
.vagrant
tmp
/workspace
/config
.java-version
.asscache
.gradle
/build
/config
startit
gradle/
*.diff
*.ipr
morpheus-domains/
morpheus-ui/
morpheus-utils/
.vscode/
.project
certs/
esdata
mysqldata
